<div id="about-me">
  <div class="row flex-items-xs-middle">
        <div class="col-xs-12 line-break-big">
        </div>
    </div>
    <div class="row row flex-items-xs-middle me">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 col-sm-3">
            <img src="./../assets/myPic.png" style="height:300px; width:200px;" class="border">
        </div>
        <div class="col-xs-10 col-sm-6 pic-side">
            <h2><span class="red">Hi, Im Cameron</span><br>
                I am a Full-Stack Web Developer currently residing in Sunny Southern California.</h2>
                <h2 class="bold">I have a passion for all things code.
            </h2>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row flex-items-xs-middle">
        <div class="col-xs-12 line-break-big">
        </div>
    </div>
    <div class="skills-outer">
        <section class="skills">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-10">
                    <p class="red">Whether it is:</p>
                </div>
            </div>
            <section class="row flex-items-xs-middle">
                <div class="col-xs-3"></div>
                <div class="col-xs-7 col-sm-1">
                    <clr-icon shape="lightbulb" class="is-inverse" size="48"></clr-icon>
                </div>
                <div class="col-xs-7 col-sm-6">
                    <p> Creating Innovative Solutions </p>
                </div>
                <div class="col-xs-2"></div>
            </section>
            <section class="row flex-items-xs-middle">
                <div class="col-xs-3"></div>
                <div class="col-xs-7 col-sm-1">
                    <clr-icon shape="shield-check" class="is-inverse" size="48"></clr-icon>
                </div>
                <div class="col-xs-7 col-sm-6">
                    <p> Weeding out annoying bugs </p>
                </div>
                <div class="col-xs-2"></div>
            </section>
            <section class="row flex-items-xs-middle">
                <div class="col-xs-3"></div>
                <div class="col-xs-7 col-sm-1 ">
                    <clr-icon shape="wrench" class="is-inverse" size="48"></clr-icon>
                </div>
                <div class="col-xs-7 col-sm-6">
                    <p> Installing new features in existing projects </p>
                </div>
                <div class="col-xs-2"></div>
            </section>
            <section class="row flex-items-xs-middle">
                <div class="col-xs-3"></div>
                <div class="col-xs-7 col-sm-1 ">
                    <clr-icon shape="organization" class="is-inverse" size="48"></clr-icon>
                </div>
                <div class="col-xs-7 col-sm-6">
                    <p> Taking an idea from Seed to Harvest </p>
                </div>
                <div class="col-xs-2"></div>
            </section>
            <section class="row">
                <div class="col-xs-12">
                    <p class="red bold centered">I truly enjoy every aspect of the coding process and am hungry to learn and do more.</p>
                </div>
            </section>
        </section>
        <section class="row flex-items-xs-middle">
            <div class="col-xs-1"></div>
            <div class="col-xs-10 centered">
                <p class="black bigger" > 
                    I am proficient in the skills listed below, but love any chance to add new tools to my devolpment toolbelt:
                </p>
            </div>
            <div class="col-xs-1"></div>
        </section>
        <div class="row flex-items-xs-middle">
            <div class="col-xs-12 line-break-small">
            </div>
        </div>
         <section class="row flex-items-xs-middle skill-list">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <h3 class="red bold ">Front-End</h3>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JQuery</li>
                    <li>HTTP Request/Response</li>
                    <li>AJAX</li>                    
                </ul>
                <h3 class="red bold">Database</h3>
                <ul>
                    <li>SQL(MySQL)</li>
                    <li>NoSQL(MongoDB)</li>
                    <li>Mongoose.JS</li>
                </ul> 
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
               <h3 class="red bold">Frameworks</h3>
                <ul>
                    <li>Angular</li>
                    <li>AngularJS</li>
                    <li>Wordpress</li>
                    <li>Express</li>
                    <li>Socket.io</li>                    
                    <li>Twitter Bootstrap</li>                    
                    <li>Clarity Design System</li>                    
                </ul>
                <h3 class="red bold">Languages</h3>
                <ul>
                    <li>ES6</li>
                    <li>PHP</li>  
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                
                <h3 class="red bold">Servers</h3>
                <ul>
                    <li>Node.JS</li>
                    <li>Apache</li>
                </ul>
                <h3 class="red bold">Version Control</h3>
                <ul>
                    <li>Git</li>
                    <li>Github</li>
                </ul>
                <h3 class="red bold">Deployment</h3>
                <ul>
                    <li>AWS</li>
                    <li>Heroku</li>
                </ul>
            </div>
        </section>
        <section class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-8">
                <p class="black">
                    If not I'm not working on web apps, you can usually find me working on my '61 Ford Econoline, surfing, or camping in the desert.
                </p>
            </div>
            <div class="col-xs-2">
                <!--Van Icon by Simon Child found on thenounproject.com Thanks Simon!-->
                <img src="./../assets/van.png" alt="" class="icon bottomed">
            </div>
        </section>
    </div>
</div>
<div class="divider"></div>

