<div id="contact">
   <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <h3>
              If you have a project that can use my help or just want to chat, feel free to reach out!
            </h3>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row link-row">
        <div class="col-sm-2"></div>
        <div class="col-xs-6 col-sm-2 border">
          <a href="mailto:cmullins510@gmail.com">
              <clr-icon shape="email" class="is-inverse" size="48"></clr-icon>Email
          </a>
        </div>
        <div class="col-xs-6 col-sm-2 border">
            <a href="https://www.linkedin.com/in/cameron-mullins/">
                <img src="./../assets/linked.png" alt="LinkedIn Logo" style="height:48px;width:48px;filter:invert(100%)">LinkedIn
            </a>
        </div>
        <div class="col-xs-6 col-sm-2 border">
            <a href="https://github.com/crowned1">
                <img src="./../assets/github.png" alt="Github Logo" style="height:48px;width:48px;filter:invert(100%)">GitHub
            </a>
        </div>
        <div class="col-xs-6 col-sm-2 border">
            <a href="https://twitter.com/cmullins118" class="entry">
                <img src="./../assets/twitter.png" alt="Twitter Logo" style="height:48px;width:48px;filter:invert(100%)">Twitter
            </a>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row copy-row">
        <div class="col-xs-12">
            <em>
                &copy; {{thisYear}} <a href="/">Cameron Mullins</a>
            </em>
        </div>
    </div>
</div>