<div id="work">
  <div class="row back">
    <div class="col-xs-12">
      <h1>Some of my Work</h1>
    </div>
  </div>
  <div class="projects">
  <div class="row flex-items-xs-middle">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <img src="../../assets/pickemPicture.png" class="card-media-image">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <h2>Pick'em NFL Fantasy League</h2>
      <p>I created a web app for users to to play "Pick'em" Fantasy Football.  The object is for the user to predict, weekly, the winner of each NFL game, and assign a point value for prediction based on their certainty of the game outcome. The app contained a robust login/registration with front and back end validation and error messaging, a discussion board, multiple external API calls to mine live NFL game data which was then displayed on the dashboard and compared to the users picks in real time on game days. The app was used by twenty+ people weekly.</p>
      <p class="red">Tech used- MongoDB, Express, AngularJS, NodeJS, Twitter Bootstrap, AWS</p>
    </div>
  </div>
  <div class="space-between"></div>  
  <div class="row flex-items-xs-middle ">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <h2>TrivaQuiz!</h2>
      <p>This fun little web app was my final exam for CodingDojo. Completed a full MEAN stack, multiple-choice game with options to add new questions and a dashboard listing usernames and all recent scores.  Questions and answers, user information, and user scores were stored and retrieved from a MongoDB, with front and back end validations and error messaging.  I utylized Twitter Bootstrap for the styling, and then the app was deployed through AWS. All steps were completed within 4.5 hours.</p>
      <p class="red">Tech used- MongoDB, Express, AngularJS, NodeJS, Twitter Bootstrap, AWS</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <a href="http://ec2-52-33-2-243.us-west-2.compute.amazonaws.com">
        <img src="../../assets/triviaPicture1.png" class="card-media-image">
      </a>
    </div>
  </div>
  </div>
</div>
<app-contact></app-contact>